{{> header}}
{{> loader}}


<main class="home">

  <section class="homeBanner">

    <div class="bannerBg">

      <div class="falconBg">
        <div class="falcon">
          <picture>
            <img src="{{assets}}/images/falcon.svg" loading="lazy" />
          </picture>
        </div>
      </div>

      <div class="svgBox">
        <picture>
          <img src="{{assets}}/images/pixels.png" loading="lazy" />
        </picture>
      </div>


      <div class="titleBox">
        <h1>Design the Regulation Innovation</h1>
      </div>

      <div class="btnBox">
        <button class="btn">Apply Now</button>
      </div>
    </div>

  </section>


</main>
{{> footer}}
{{> script-home}}