{{> header}}
{{> loader}}


<main class="home">

  <section class="homeBanner">
    {{!-- <div class="bgBox">
      <div class="favIconBox">
        <svg></svg>
      </div>

      <div class="bgLayer">
        <img />
      </div>
    </div>

    <div class="container-fluid">
      <div class="titleBox">
        <h1>name</h1>
      </div>
      <div class="moreWrap">
        <a href="#" class="more">
          <span>Apply</span>
        </a>

        <div class="bottomBox">
          <div class="socialBox">
            <ul>
              <li><a href="#" class="link_"><span>fb</span></a></li>
              <li><a href="#" class="link_"><span>fb</span></a></li>
            </ul>
          </div>

          <div class="shortNav">
            <ul>
              <li><a href="#" class="link_"><span>contact</span></a></li>
              <li><a href="#" class="link_"><span>about</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> --}}




    <div class="backgroundBg">
      <div class="falconBox">
        <picture>
          <img src="{{assets}}/images/falcon.svg" loading="lazy" />
        </picture>
      </div>

      <div class="svgBox">
        <picture>
          <img src="{{assets}}/images/pixels.png" loading="lazy" />
        </picture>
      </div>
    </div>

    <div class="container-fluid">
      <div class="titleBox">
        <h1>Design the Regulation Innovation</h1>
      </div>
      <div class="btnBox">
        <button class="btn">Apply Now</button>
      </div>
    </div>


  </section>

  <section class="about">
    <h1>Hello</h1>
  </section>


</main>
{{> footer}}
{{> script-home}}