<ol class="fl-social">
    {{!-- <li><a href="#"><i class="icon icon-graphics-icon-fb"></i></a></li> --}}
    <li class="sLink">
        <a href="#" class="inner">
            <svg viewBox="0 0 21.818 20">
                <g transform="translate(0.909)">
                    <rect width="20" height="20" fill="#fcfcfc" opacity="0" />
                    <g transform="translate(1.29 2.499)">
                        <path
                            d="M20.909,2.727a9.9,9.9,0,0,1-2.854,1.391,4.073,4.073,0,0,0-7.146,2.727v.91A9.691,9.691,0,0,1,2.727,3.636S-.909,11.818,7.273,15.455A10.59,10.59,0,0,1,.909,17.273c8.182,4.545,18.182,0,18.182-10.455a4.056,4.056,0,0,0-.073-.754A7.017,7.017,0,0,0,20.909,2.727Z"
                            transform="translate(-2.199 -3.373)" fill="none" stroke="#fff" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.818" />
                    </g>
                </g>
            </svg>
        </a>
    </li>
    <li class="sLink">
        <a href="#" class="inner">
            <svg viewBox="0 0 22 21">
                <g transform="translate(1 0.5)">
                    <rect width="20" height="20" fill="#fcfcfc" opacity="0" />
                    <g transform="translate(1.29 2.499)">
                        <path d="M16,8a6,6,0,0,1,6,6v7H18V14a2,2,0,0,0-4,0v7H10V14A6,6,0,0,1,16,8Z"
                            transform="translate(-3.29 -3.999)" fill="none" stroke="#fff" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                        <rect width="4" height="12" transform="translate(-1.29 5.001)" fill="none" stroke="#fff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        <circle cx="2" cy="2" r="2" transform="translate(-1.29 -1.999)" fill="none" stroke="#fff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                    </g>
                </g>
            </svg>
        </a>
    </li>
    <li class="sLink">
        <a href="#" class="inner">
            <svg viewBox="0 0 22 22">
                <g transform="translate(1 1)">
                    <rect width="20" height="20" fill="#fcfcfc" opacity="0" />
                    <g transform="translate(1.29 2.499)">
                        <rect width="20" height="20" rx="5" transform="translate(-1.29 -2.499)" fill="none"
                            stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        <path d="M16,11.37A4,4,0,1,1,12.63,8,4,4,0,0,1,16,11.37Z" transform="translate(-3.29 -4.499)"
                            fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        <line x2="0.01" transform="translate(14.21 2.001)" fill="none" stroke="#fff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                    </g>
                </g>
            </svg>
        </a>
    </li>
</ol>