@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Antonio";
//   src: url("Antonio-Bold.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Antonio";
  src: url("Antonio-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Antonio";
  src: url("Antonio-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
